<template>
    <div>
        <h1 class="mt-5 mb-4 pb-2 text-uppercase text-center">Parâmetros de Preço Mínimo e Máximo</h1>

        <table class="mx-auto">
            <thead>
            <tr>
                <th>Produto</th>
                <th>Unidade</th>
                <th>Preço Mínimo</th>
                <th>Preço Máximo</th>
                <th>Editar</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="produto in intervalos">
                <td>{{ produto.nome }}</td>
                <td v-html="produto.unidade_medida"></td>
                <td v-bind:class="{ 'py-0': produto.editando, 'px-1': produto.editando }">
                    <template v-if="produto.editando">
                        <money id="preco"
                               class="form-control form-control-sm px-1"
                               v-model="produto.preco_minimo"
                               v-bind="money"
                               v-bind:class="{ 'is-invalid': !isMinimoValid(produto) }"></money>
                    </template>
                    <template v-else>R$ {{ produto.minimo }}</template>
                </td>
                <td v-bind:class="{ 'py-0': produto.editando, 'px-1': produto.editando }">
                    <template v-if="produto.editando">
                        <money id="preco"
                               class="form-control form-control-sm px-1"
                               v-model="produto.preco_maximo"
                               v-bind="money"
                               v-bind:class="{ 'is-invalid': !isMaximoValid(produto) }"></money>
                    </template>
                    <template v-else>R$ {{ produto.maximo }}</template>
                </td>
                <td class="p-0 text-center">
                    <button type="button"
                            class="btn btn-sm btn-dark"
                            v-on:click="editar(produto)">
                        <template v-if="produto.editando">Salvar</template>
                        <template v-else>Editar</template>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import {Money} from 'v-money'
    import {mapState} from 'vuex'

    export default {
        computed: {
            intervalos() {
                return this.produtos.map(produto => {
                    produto.editando = this.editando.includes(produto.id)
                    produto.minimo = produto.preco_minimo.toFixed(2).toString().replace('.', ',')
                    produto.maximo = produto.preco_maximo.toFixed(2).toString().replace('.', ',')

                    return produto
                })
            },
            ...mapState([
                'produtos',
            ])
        },
        data() {
            return {
                editando: [],
                money: {
                    decimal: ',',
                    thousands: '',
                    prefix: 'R$ ',
                    precision: 2,
                    masked: false
                },
            }
        },
        methods: {
            isMaximoValid(produto) {
                return produto.preco_maximo != 0 && produto.preco_maximo > produto.preco_minimo
            },
            isMinimoValid(produto) {
                return produto.preco_minimo != 0 && produto.preco_minimo < produto.preco_maximo
            },
            editar(produto) {
                if (!this.editando.includes(produto.id)) {
                    this.editando.push(produto.id)
                    return
                }

                if (!this.isMinimoValid(produto) || !this.isMaximoValid(produto)) {
                    return
                }

                this.$http.post('levantamento/intervalo', {
                    produto: produto.id,
                    minimo: produto.preco_minimo * 100.0,
                    maximo: produto.preco_maximo * 100.0,
                })
                    .then(response => response.json())
                    .then(data => {
                        this.editando = this.editando.filter(id => id !== produto.id)

                        this.$store.dispatch('atualizaProduto', produto)
                    })
                    .catch(error => {
                        console.error('Falha ao enviar intervalo: ' + error)
                    })

            },
        },
    }
</script>
